Power Automate/Email Approvals/Microsoft.Flow/flows/6e100b0a-3b75-4ee0-a06f-a78167e0718e/definition.json
{"name":"8630a38d-2bcf-464d-87db-c6b1e44df923","id":"/providers/Microsoft.Flow/flows/8630a38d-2bcf-464d-87db-c6b1e44df923","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"(GSC) EmailApprovals_WTC","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d0bffac3-639a-4f44-b7e4-2f5c076642e7","type":"User","tenantId":"d3a74ac8-efe4-4fe8-b707-b1bf8c6a25bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-08T17:55:38.0913767Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6fee9e93-19dc-4f1e-807d-494d384870f3"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"ToField:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"SubjectField:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"BodyField:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Requester:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"IdField:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"CCField:","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{"APPROVER_LIST":["Succeeded"]},"metadata":{"operationMetadataId":"68b9bd6b-e8b4-41aa-a92b-a6ce857061b6"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Email draft - Requested by: @{triggerBody()['text_3']}","WebhookApprovalCreationInput/assignedTo":"@variables('Approvers')","WebhookApprovalCreationInput/details":"To: \n@{triggerBody()['text']}\n\nCC: \n@{triggerBody()['text_5']}\n\nSubject:  \n@{triggerBody()['text_1']}\n\nBody:\n@{variables('ConvertHTMLtoTXT')}\n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"93aa6ba3-eabc-408d-80c3-c6b8693f43ce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://thevanguardgroup.sharepoint.com/sites/MorganSchneeweis","table":"bebd8e68-f483-4d42-b2c7-b7d864cc365d","item/Title":"@triggerBody()['text_4']","item/Email":"@triggerBody()['text_2']","item/Subject":"@triggerBody()['text_1']","item/ApprovalStatus/Value":"Approved","item/Approved_By":"@items('Apply_to_each')?['responder/displayName']","item/Requested_By":"@triggerBody()['text_3']","item/Comments":"@items('Apply_to_each')?['comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"84b00394-0a57-4831-b831-c59db748cb82"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"29c8f745-1de4-402a-a97a-f822d373190e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://thevanguardgroup.sharepoint.com/sites/MorganSchneeweis","table":"bebd8e68-f483-4d42-b2c7-b7d864cc365d","item/Title":"@triggerBody()['text_4']","item/Email":"@triggerBody()['text_2']","item/Subject":"@triggerBody()['text_1']","item/ApprovalStatus/Value":"Rejected","item/Approved_By":"@items('Apply_to_each_2')?['responder/displayName']","item/Requested_By":"@triggerBody()['text_3']","item/Comments":"@items('Apply_to_each_2')?['comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"6c8b6a7e-66dc-4b02-a1c7-4d28cadc845b"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"683da729-8253-43c0-a495-a8c21af65671"},"type":"If"},"Html_to_text":{"runAfter":{},"metadata":{"operationMetadataId":"bb2d4d1f-adc4-44a6-9da6-7fed1ad5b937"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p>@{triggerBody()['text_2']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"APPROVER_LIST":{"runAfter":{"Initialize_variable_-_People_Array":["Succeeded"]},"metadata":{"operationMetadataId":"0cd16ae6-879c-43b3-8175-9d5147d9095e"},"type":"SetVariable","inputs":{"name":"Approvers","value":"Steven_Morgan@vanguard.com; Christopher_Schneeweis@vanguard.com"}},"Set_variable_-_HTML_to_TEXT":{"runAfter":{"Initialize_variable_-_HTML_to_TEXT":["Succeeded"]},"metadata":{"operationMetadataId":"17b2d38b-93bf-4354-abc6-42b75d7700a9"},"type":"SetVariable","inputs":{"name":"ConvertHTMLtoTXT","value":"@outputs('Html_to_text')?['body']"}},"Initialize_variable_-_HTML_to_TEXT":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"operationMetadataId":"345a8db4-8a32-4709-8e7f-d767c4f8e53f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConvertHTMLtoTXT","type":"string"}]}},"Initialize_variable_-_People_Array":{"runAfter":{"Set_variable_-_HTML_to_TEXT":["Succeeded"]},"metadata":{"operationMetadataId":"f4636055-2c93-4812-ba8c-4ef43a7a2b1d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approvers","type":"string"}]}}}},"connectionReferences":{"shared_approvals":{"connectionName":"c53fcd24691443829fae02890e48620c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"a8150d5c9cea4e7fa11224ee80627d17","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"4f7009303e3d4a57ac645c11ac2d0090","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}
